doctype html
html
  head
    title An Important Title For an Important Landing Page
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='css/app.css')
    script(src='js/app.js')
  body
    .hero
      .container
        nav.row
          .col-md-12
            a.logo(href='/') NAME

        .row
          .col-md-10
            h1 Drive safely with NAME
            h2 My price. My schedule. My choice.
        .row.call-to-action
          .col-md-5.col-sm-7
            input.form-control(type='email' placeholder='Your Best Email')
          .col-md-3.col-sm-5
            a.btn#get-a-lift(href='#') Get a lift

    .container
      .companies
        .row.text-center
          .find-out Find out why these companies have chosen to drive with me
        .row
          .company-logos

      .app
        .row
          .col-sm-7
            h3 All around the world
            p
              | Our app uses the best technology to fit all of the clients.
              | It reaches more and more users every day.
              | Can you imagine how easy it is to find a cab now?

            blockquote
              p It's an amazing app to explore
              footer Someone famous
          .col-sm-5.text-center
            .showoff

    .footer
      .container
        .row
          .col-xs-5
            .map
          .col-xs-6.col-xs-offset-1
            h4 Built for everyone with
            h4.love love.

            ul.menu
              li
                a(href='#') Docs
              li
                a(href='#') Pricing
              li
                a(href='#') Team
              li
                a(href='#') Contact us
